<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}Temperature Script Automation{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% include 'header.html' %}
  
  <main>
    {% block content %}{% endblock %}
  </main>
  
  {% block extra_scripts %}{% endblock %}
</body>
</html>
